.navigation {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    color: #000;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.navigation_on {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
}

.navigation__close {
    background-color: #202020;
    border: none;
    width: 22px;
    height: 22px;
    padding: 0;
    display: block;
    margin: 22px 22px 105px auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../images/closeNav.svg);
    cursor: pointer;
}

.navigation__close:hover {
    opacity: 0.7;
}

.navigation__popup {
    background-color: #202020;
    width: 68%;
}

.navigation__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 593px;
}

.navigation__element {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    margin: 0 90px 28px;
}

.navigation__link {
    color: #fff;
    margin: 0;
    text-decoration: none;
}

.navigation__link:hover {
    opacity: 0.7;
}

.navigation__profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation__text {
    color: #fff;
    margin: 0;
    margin-right: 13px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.navigation__icon {
    width: 30px;
    height: 30px;
    background-color: #313131;
    background-image: url('../../images/icon__header.svg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    cursor: pointer;
}

.navigation__icon:hover {
    opacity: 0.8;
}

@media all and (max-width: 600px) {
    .navigation__popup {
        width: 100%;
    }

    .navigation__close {
        margin: 14px 14px 100px auto;
    }

    .navigation__list {
        margin-bottom: 420px;
    }

    .navigation__element {
        margin: 0 10px 24px;
    }
}
