.card {
    width: 364px;
    height: 281px;
    background-color: #222;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.card__image {
    object-fit: cover;
    height: 203px;
    width: 364px;
    overflow: hidden;
    object-position: center;
    min-height: 203px;
}

.card__trailer {
    margin: 0;
    text-decoration: none;
}

.card__description {
    display: flex;
    justify-content: space-between;
}

.card__description-deletion {
    display: flex;
    justify-content: space-between;
}

.card__description-deletion:hover .card__deletion {
    cursor: pointer;
    background-image: url(../../../images/deleteMovie.svg);
}

.card__name {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: normal;
    margin: 14px 0 0 16px;
    width: 290px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__time {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: normal;
    margin: 16px 0 0 16px;
    width: fit-content;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #8B8B8B;
}

.card__like {
    background: none;
    border: none;
    padding: 0;
    margin: 9px 16px 0 0;
    width: 30px;
    height: 30px;
    background-image: url(../../../images/save4d.svg);
    cursor: pointer;
}

.card__like_on {
    background-image: url(../../../images/save4.svg);
}

.card__deletion {
    background: none;
    border: none;
    padding: 0;
    margin: 9px 16px 0 0;
    width: 30px;
    height: 30px;
}

@media all and (max-width: 1250px) {
    .card {
        width: 339px;
        height: 262px;
    }
    .card__image {
        height: 190px;
        width: 339px;
        min-height: 190px;
    }
    .card__name {
        margin: 12px 0 0 15px;
        width: 260px;
    }
    .card__time {
        margin: 15px 0 0 15px;
    }
    .card__like {
        margin: 8px 14px 0 0;
    }
    .card__deletion {
        margin: 8px 14px 0 0;
    }
}

@media all and (max-width: 600px) {
    .card {
        width: 300px;
        height: 237px;
    }
    .card__image {
        height: 168px;
        width: 300px;
        min-height: 168px;
    }
    .card__name {
        margin: 10px 0 0 14px;
        font-size: 12px;
        width: 240px;
    }
    .card__time {
        font-size: 10px;
        margin: 14px 0 0 14px;
    }
    .card__like {
        margin: 3px 10px 0 0;
    }
    .card__deletion {
        margin: 3px 10px 0 0;
        background-image: url(../../../images/deleteMovie.svg);
    }
}