.register {
    width: 396px;
    margin: 70px auto 0;
    text-align: left;
}

.register__logo {
    margin: 0 0 38px;
    cursor: pointer;
}

.register__logo:hover {
    opacity: 0.8;
}

.register__greeting {
    margin: 0 0 34px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: normal;
}

.register__content {
    display: flex;
    flex-direction: column;
    border: 0;
    padding: 0;
    margin: 0 0 134px;
    background-color: #202020;
}

.register__line {
    color: #8B8B8B;
    margin: 6px 0 5px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: normal;
}

.register__text {
    border: 0;
    padding: 0;
    padding-bottom: 10px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    border-bottom: 1px solid #424242;
    color: #fff;
    background-color: #202020;
}

.register__text:-webkit-autofill {
    transition: all 5000s ease-in-out 0s;
}

.register__error {
    margin: 6px 0 0;
    min-height: 12px;
    color: #EE3465;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: normal;
}

.register__save {
    color: #fff;
    background-color: #4285F4;
    border: none;
    border-radius: 3px;
    padding: 0;
    width: 100%;
    min-height: 45px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
    cursor: pointer;
}

.register__save:hover {
    opacity: 0.8;
}

.register__element {
    text-align: center;
    margin: 16px auto 70px;
    color: #8B8B8B;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
}

.register__link {
    text-decoration: none;
    color: #4285F4;
}

.register__link:hover {
    opacity: 0.7;
}

@media all and (max-width: 780px) {
    .register {
        margin: 231px auto 0;
    }
}

@media all and (max-width: 500px) {
    .register {
        width: 260px;
        margin: 56px auto 0;
    }
    .register__logo {
        display: block;
        margin: 0 auto 50px;
        cursor: pointer;
    }
    .register__greeting {
        text-align: center;
        margin: 0 0 74px;
    }
    .register__content {
        margin: 0 0 222px;
    }
    .register__save {
        font-size: 12px;
    }
    .register__element {
        margin: 14px auto 30px;
        font-size: 12px;
    }
}