.about {
    margin: 110px 70px;
}

.about__title {
    margin: 0;
    padding-bottom: 23px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: normal;
    text-align: start;
    border-bottom: 1px solid #dadada;
}

.about__content {
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
}

.about__info {
    margin: 0;
    text-align: start;
    max-width: 600px;
}

.about__name {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -2px;
}

.about__description {
    margin: 0;
    margin-top: 18px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.about__text {
    margin: 26px 0 99px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.about__link {
    color: #fff;
    text-decoration: none;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
}

.about__link:hover {
    opacity: 0.7;
}

.about__photo {
    background-image: url(../../../images/me.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    width: 270px;
    height: 327px;
    background-position: center center;
}

@media all and (max-width: 1040px) {
    .about__info {
        width: 60%;
        margin-right: 49px;
    }
}

@media all and (max-width: 780px) {
    .about {
        margin: 90px 50px;
    }

    .about__info {
        max-width: 364px;
    }

    .about__name {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.6px;
    }

    .about__description {
        margin-top: 16px;
        font-size: 12px;
        line-height: 18px;
    }

    .about__text {
        margin: 20px 0 87px;
        font-size: 12px;
        line-height: 18px;
    }

    .about__photo {
        width: 255px;
        height: 307px;
    }
}

@media all and (max-width: 600px) {
    .about {
        margin: 70px 14px;
    }

    .about__title {
        padding-bottom: 28px;
        font-size: 18px;
    }

    .about__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 60px;
    }

    .about__photo {
        order: -1;
        align-self: center;
        width: 292px;
        height: 352px;
    }

    .about__name {
        margin-top: 40px;
        font-size: 30px;
        line-height: normal;
        letter-spacing: -1.2px;
    }

    .about__description {
        margin-top: 20px;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
    }

    .about__text {
        margin: 20px 0 40px;
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
    }

    .about__info {
        width: auto;
        max-width: 600px;
        margin-right: 0;
    }
}