.header__list {
    margin: 0;
    margin-left: 80px;
    list-style-type: none;
    display: flex;
    padding: 0;
}

.header__element {
    color: #fff;
    margin: 0;
    text-decoration: none;
    margin-right: 16px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
}

.header__element:hover {
    opacity: 0.7;
}

@media all and (max-width: 780px) {
    .header__list {
        display: none;
    }
}
